img {
	max-width:100%
}

li {
	max-width: 800px;
	margin: 0 auto;
}

ul {
	list-style-type:none;
	text-align: center;
	padding: 0;
}

#caption {
  text-align: left;
  margin-top: 4px;
  margin-bottom: 40px;
	font-family: "Courier New", Courier, monospace
}

/* @media(max-device-width:480px), (max-width:480px) { */
/* 	li { */
/* 		margin: 1em 1em; */
/* 	} */
/* } */
