img {
	max-width:100%
}

li {
	max-width: 800px;
	margin: 0 auto;
}

ul {
	list-style-type:none;
	text-align: center;
	padding: 0;
}

#pictures-list{
}

#album-link{
	text-color: black;
	text-decoration: none;
	font-size: 2em;
	font-family: sans-serif;
}

#album-link:hover {
	font-weight: bold;
}

#date-text {
	margin:8px;
	color: gray;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.9em;
}

#album-item {
	margin-bottom:2em;
}

.caption {
  text-align: left;
}

#description{
	margin-bottom:0px;
  margin-top: 4px;
	font-family: "Courier New", Courier, monospace
}

#date {
  margin-bottom: 40px;
	margin-top: 4px;
	font-family: "Courier New", Courier, monospace
}
