img {
	max-width:100%
}

#img {
	margin-top:1em;
}

.pictures {
	width:100%;
}

.picture-container {
	text-align: center;
}

li {
	max-width: 800px;
	margin: 0 auto;
	list-style-type:none;
}

hr {
	max-width: 800px;
}

ul {
	padding: 0;
}

.margin {
	margin-left:2em;
	margin-right:2em;
}

#picture-count{
	margin-bottom:0;
}

#pictures-list{
}

#album-link{
	text-color: black;
	text-decoration: none;
	font-size: 2em;
	font-family: sans-serif;
}

#album-item {
	margin-bottom:2em;
}

.caption {
  text-align: left;
}

#description{
	margin-bottom:0px;
  margin-top: 4px;
}

@media (min-width: 550px) {
	#date{
			text-align:right;
	}
}
